@import './function';

#body {
    padding: 1rem;
    margin: 0 0 2rem 0;
    min-height: 80vh;

    .wrapper {

        //   grid-template-columns: repeat(8, 1fr);
        //   grid-gap: 1rem;

        @include grid-call(1, 20);

    }

    .blog-header {
        padding: .5rem;
        margin: 0 0 1rem 0;
        border: thin solid darkblue;
        //   grid-column: span 4;
        //   grid-row: 1;

        p {
            margin: 0;
        }
    }

    .blog-content-list {
        //   grid-column: 2/9;
        //   grid-row: 2;
    }

}

#listing {
    .list-item {
        margin-bottom: 2rem;

        .list-blog-header {
            // display: grid;
            // grid-template-columns: repeat(6, 1fr);
            // grid-gap: 1rem;

            @include grid-call(2, 40);

            &>* {
                padding: 1rem;
            }

            .list-blog-date {
                grid-column: span 1;
                border-bottom: thin solid darkblue;

                .dt-published {
                    font-size: 1.25rem;
                    color: chartreuse;
                }
            }

            .list-blog-author {
                grid-column: span 1;
                border-right: thin solid darkblue;
                border-bottom: thin solid darkblue;
                font-size: 1.25rem;
                color: chartreuse;
            }

            .p-name {
                // grid-column: span 4;
                grid-column: span 2;
                // border-top: thin solid darkblue;
                border-bottom: thin solid darkblue;

                // font-size: 3rem;
                // line-height: 1.76*2rem;
                font-size: 2rem;
                line-height: 1.6*1.5rem;

                font-weight: normal;
                // margin: 0;
                margin: 1rem 0 0;
            }

            img {
                // grid-column: span 3;
                grid-column: span 2;
                border-bottom: thin solid darkblue;
                padding: 1rem 0;
                // padding-bottom: 1rem;
                display: block;
                width: 100%;
                // width: calc(100% - 1rem);
            }
        }

        .list-blog-padding {
            .p-summary {
                // width: 80%;
                width: 100%;


                a {
                    display: inline-block;
                    outline: 0;
                    font-size: 0.80rem;
                    font-weight: 600;
                    background: #fff;
                    border: solid;
                    color: darkorange;
                    padding: 0.8rem 2rem;
                    margin: 1rem 0 2rem;

                    transition: all .3s ease-out;
                    box-shadow:
                        1px 1px 0 0 darkorange,
                        2px 2px 0 0 darkorange,
                        3px 3px 0 0 darkorange,
                        4px 4px 0 0 darkorange,
                        5px 5px 0 0 darkorange;

                    &:hover {
                        color: darkblue;
                        box-shadow:
                            1px 1px 0 0 darkblue,
                            2px 2px 0 0 darkblue,
                            3px 3px 0 0 darkblue,
                            4px 4px 0 0 darkblue,
                            5px 5px 0 0 darkblue;

                    }

                }
            }

            .prev-next {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;

                & a:last-child {
                    text-align: right;
                }
            }
        }
    }
}

#item {
    .list-item {
        .list-blog-header {
            @include grid-call(2, 40);

            &>* {
                padding: 1rem;
            }

            .list-blog-date {
                grid-column: span 1;
                border-bottom: thin solid darkblue;

                .dt-published {
                    font-size: 1.25rem;
                    color: chartreuse;
                }
            }

            .list-blog-author {
                grid-column: span 1;
                border-right: thin solid darkblue;
                border-bottom: thin solid darkblue;
                font-size: 1.25rem;
                color: chartreuse;
            }

            .p-name {
                // grid-column: span 4;
                grid-column: span 2;
                // border-top: thin solid darkblue;
                border-bottom: thin solid darkblue;

                // font-size: 3rem;
                // line-height: 1.76*2rem;
                font-size: 2rem;
                line-height: 1.6*1.5rem;

                font-weight: normal;
                // margin: 0;
                margin: 1rem 0 0;
            }

            img {
                // grid-column: span 3;
                grid-column: span 2;
                border-bottom: thin solid darkblue;
                padding: 1rem 0;
                // padding-bottom: 1rem;
                display: block;
                width: 100%;
                // width: calc(100% - 1rem);
            }
        }

        .list-blog-padding {
            .e-content {
                // width: 80%;
                width: 100%;
                position: relative;


                a {
                    display: inline-block;
                    outline: 0;
                    font-size: 0.80rem;
                    font-weight: 600;
                    background: #fff;
                    border: solid;
                    color: darkorange;
                    padding: 0.8rem 2rem;
                    margin: 1rem 0 2rem;

                    transition: all .3s ease-out;
                    box-shadow:
                        1px 1px 0 0 darkorange,
                        2px 2px 0 0 darkorange,
                        3px 3px 0 0 darkorange,
                        4px 4px 0 0 darkorange,
                        5px 5px 0 0 darkorange;

                    &:hover {
                        color: darkblue;
                        box-shadow:
                            1px 1px 0 0 darkblue,
                            2px 2px 0 0 darkblue,
                            3px 3px 0 0 darkblue,
                            4px 4px 0 0 darkblue,
                            5px 5px 0 0 darkblue;

                    }

                }
            }

            .prev-next {
                // display: grid;
                // grid-template-columns: repeat(2, 1fr);
                // grid-gap: 1rem;

                @include grid-call(2,40);

                & a:last-child {
                    text-align: right;
                }
            }
        }
    }
}

.blog-content-item {
    // grid-column: span 8;
    // display: grid;
    // grid-template-columns: repeat(8, 1fr);
    // grid-gap: 1rem;
    @include grid-call(1, 60);

    #item {

        //   grid-column: span 6;
        img {
            // display: block;
            // width: 100%;
        }

    }

    #sidebar {
        //   grid-column: 7/9;
    }
}


figure.image-caption {
    text-align: center;
    margin: 1rem;
    width: 100%;
    width: calc(100% - 2rem);
    img {
        width: 100%;
    }
}

figure.image-caption figcaption {
    opacity: 0.7;
    font-size: 90%;
}

figure.figure-right {
    float: right;
    margin-right: 0;
}

figure.figure-left {
    float: left;
    margin-left: 0;
}

figure.caption-left figcaption {
    text-align: left;
}

figure.caption-right figcaption {
    text-align: right;
}