@import './function';


.footer {
    background-color: darkblue;
    color: white;
    padding: 1rem;
    .wrapper{
  
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-gap: 1rem;
        @include grid-call(1, 60);
    }
    a {
      color: lightblue;
    }
  
  }