/*
* GRID
*/

$base-gutter: 1rem;
$inner-space: 1rem;

@mixin grid-call($nbColumn: 8, $minMaxRow: 50) {
  display: grid;
  grid-template-columns: repeat($nbColumn, 1fr);
  grid-gap: 0 $base-gutter;
  grid-auto-rows: minmax($minMaxRow + px, auto);
}


/*
* Media Queries
*/

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}