@import './function';

.header {
    padding: 1rem;
    margin: 0 0 2rem 0;
    border-bottom: thin solid darkblue;

    .wrapper {
        // grid-template-columns: repeat(8, 1fr);
        // grid-gap: 1rem;
        @include grid-call(1, 20);
    }

    .title {
        margin-bottom: 2rem;

        h1 {
            /*
            font-size: 3rem;
            line-height: 3.75rem;
*/
            font-size: 17vw;
            line-height: 18vw;
            margin: .5rem 0 1rem;
        }

        // grid-column: span 4;

    }

    .main-nav {

        // grid-column: span 4;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @include grid-call(2, 20);
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            // grid-auto-rows: minmax(100px, auto);
            // grid-gap: 1rem;

            li {
                font-size: 1.5rem;

                &.selected {
                    text-decoration: overline;

                    * {
                        color: darkorange;
                    }

                }
            }
        }
    }
}

#random-img-title {
    position: relative;
    display: block;
    width: 100%;
    height: max-content;
    min-height: 5rem;
    margin: 2rem 0 2.5rem;
    padding: 0;

    background-color: #fff;

    img {
        position: absolute;
        display: list-item;
        width: 100%;
        opacity: 0;
        transition: opacity .45s linear;

        &:first-child {
            opacity: 1;
        }
    }
}