@import './variables.scss';
@import './function.scss';
@import './structure.scss';

/* adding Coupeur font */

@font-face {
    font-family: 'Coupeur Monospace';
    src: url('../webfont/CoupeurMonospace-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../webfont/CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfont/CoupeurMonospace-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('../webfont/CoupeurMonospace-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfont/CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg');
    /* Legacy iOS */

    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Coupeur Monospace';
    src: url('../webfont/CoupeurMonospace-Normal.eot');
    /* IE9 Compat Modes */
    src: url('../webfont/CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfont/CoupeurMonospace-Normal.woff') format('woff'),
        /* Modern Browsers */
        url('../webfont/CoupeurMonospace-Normal.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfont/CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg');
    /* Legacy iOS */

    font-style: normal;
    font-weight: 400;
}


html {
    font-family: 'Coupeur Monospace', monospace;

    width: 100vw;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 1.46rem;

    @include tablet {
        font-size: 18px;
        line-height: 1.46rem;
    }

    @include desktop {
        font-size: 18px;
        line-height: 1.46rem;
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;


}

h1 {
    font-size: 2rem;
}

h1,
h3,
strong {
    // font-family: 'Coupeur Monospace Bold', monospace;
    font-weight: 800;
}


h2 {
    font-weight: 800;

    font-size: 2rem;
    line-height: 0.8rem;
}

a {
    text-decoration: none;
    color: darkblue;

    &:hover {
        color: orange;
    }
}


@import './header.scss';
@import './body.scss';
@import './footer.scss';