<h4>Contibuteurs — Contributors</h4>


{% set foo = {} %}
{% for  post in page.find('/blog').children %}
    {% set foo = foo|merge({ (post.header.author) : {
        url: post.url,
    } }) %}
{% endfor %}


<ul>
    {% for key,faa in foo %}
        <li class="recent-posts">
            <a href="{{ faa.url}}" >{{ key }}</a>
        </li>
    {% endfor %}
</ul>
