{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo-signe.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/app.min.css') %}
    {% do assets.addCss('theme://css/custom.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/app.js') %}

{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper">

            <a class="title" href="{{ home_url }}">
                <h1>
                    {{ config.site.title }}
                </h1>
                <figure id="random-img-title">

                    {% for i in 0..28  %}
                        <img src=" {{ url('theme://images/export-jpg-blue/logo-vecto-' ~ str_pad(i, 2, '0', STR_PAD_LEFT) ~ '.jpg') }} "/>
                    {% endfor %}

                </figure>
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="wrapper ">
          <section class="description">
              <p>
                  Conditions de création de ce blog.
              </p>
          </section>
          <section class="technique">
              <p>
                  Blog réalisé avec <a href="https://getgrav.org">Grav</a>.
              </p>
          </section>

        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
