<div class="list-item ">

  {% set header_image = page.header.header_image | defined(true) %}
  {% set header_image_width = page.header.header_image_width | defined(1200) %}
  {% set header_image_height = page.header.header_image_height | defined(200) %}
  {% set header_image_file = page.header.header_image_file %}

  <div class="list-ref-header">
    <span class="list-ref-artist">{{ page.header.artist_name }}</span> —
    <span class="list-ref-project">{{ page.header.project_name }}</span>
  </div>

  <div class="e-content">
    {{ page.content }}
  </div>

</div>
