{% embed 'partials/base.html.twig' %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div class="blog-content-item ">
			<div id="item" class="">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
			<div id="sidebar" class="">
				{% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
			</div>
		</div>
	{% endblock %}

{% endembed %}
