{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
    <div class="ref-header">
			{{ page.content }}
		</div>
		<div class="ref-content-list">
			<div  class="">

				{% for child in collection %}
			        {% include 'partials/reference_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}


			</div>
		</div>
	{% endblock %}

{% endembed %}
